auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp
pre-up sleep 2

auto {{ ucarp_interface }}
iface {{ ucarp_interface }} inet static
address {{ node_ip }}
netmask {{ ucarp_netmask }}

ucarp-vid {{ ucarp_vid }}
ucarp-vip {{ ucarp_vip }}
ucarp-password {{ ucarp_password }}
ucarp-advskew {{ ucarp_advskew }}
ucarp-advbase {{ ucarp_advbase }}
ucarp-master {{ ucarp_master | default('no') }}

# The carp interface, on top of {{ ucarp_interface }} interface.
iface eth1:ucarp inet static
      address {{ ucarp_vip }}
      netmask {{ ucarp_netmask }}
